---
const stats = [
  {
    name: 'Years',
    value: '3',
  },
  {
    name: 'Experts',
    value: '1',
  },
  {
    name: 'Projects',
    value: '100+',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At CloudCode, we believe that great ideas deserve a place to grow — no matter who you are or where you start. Our mission is to make hosting simple, affordable, and accessible for everyone.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Built by a small but passionate developer, CloudCode was born from a dream to make powerful web infrastructure available to all — not just big companies with big budgets.
          We know what it’s like to start small, to have big ambitions but limited resources, and that’s why every part of CloudCode is designed with fairness, clarity, and care.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Our goal is to give creators, developers, and small businesses the confidence to build freely — without worrying about complex setups or high costs. 
              We aim to make technology feel human, friendly, and supportive — because hosting shouldn’t be hard, it should be empowering.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
